@tailwind base;
@tailwind components;
@tailwind utilities;

.no-text-jump {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}


@keyframes wobble {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-3deg); }
}

.animate-wobble {
  animation: wobble 1.5s ease-in-out infinite;
}

